extends layout

block content
    div(id='content')
      script(type="text/javascript").

      div(class='row')
        include sidebar
        div(class='col-sm-8 col-md-9') 
            h1 Statistik 
                h3 Ändra sortering till
                    if sorting === 'count'
                        button(class='button' style='margin: 0.5em' onclick=`location.href='?page=${currentPage}&entries=${pageSize}&sorting=days'`) Antal dagar
                    else
                        button(class='button' style='margin: 0.5em' onclick=`location.href='?page=${currentPage}&entries=${pageSize}&sorting=count'`) Antal mandat
                h3 Antal poster per sida
                    select(style='margin: 0.5em' id='pageSizeSelector' class='button' onchange=`selectPageSize(${currentPage}, '${sorting}')`, selected=`${pageSize}`)
                        option(value='20', selected = 20 == pageSize) 20
                        option(value='50', selected = 50 == pageSize) 50
                        option(value='100', selected = 100 == pageSize) 100
                        option(value='200', selected = 200 == pageSize) 200
            if totalPages > 1
                .pagination
                    if currentPage > 1
                        a(style='margin: 0.5em' href=`?page=${currentPage-1}&entries=${pageSize}&sorting=${sorting}`) Prev
                    | Page #{currentPage} of #{totalPages}
                    if currentPage < totalPages
                        a(style='margin: 0.5em' href=`?page=${currentPage+1}&entries=${pageSize}&sorting=${sorting}`) Next


            table(id='mandateCountTable', style=`${sorting == "count" ? "" : "display: none;"}`)  
                thead
                    tr
                        th Användare
                        th Antal mandat
                        th Antal dagar
                tbody
                    each user in paginatedItems
                        tr
                            td 
                                a(href='/user/' + user.user.kthid)
                                    =user.user.first_name + " " + user.user.last_name 
                            td 
                                =user.count
                            td
                                =user.days

            table(id='daysOnMandateTable', style=`${sorting == "days" ? "" : "display: none;"}`)  
                thead
                    tr
                    th Användare
                    th Antal mandat
                    th Antal dagar
                tbody
                 each user in paginatedItems
                    tr
                        td 
                            a(href='/user/' + user.user.kthid)
                                =user.user.first_name + " " + user.user.last_name 
                        td 
                            =user.count
                        td
                            =user.days
                        if totalPages > 1
            .pagination
                if currentPage > 1
                    a(style='margin: 0.5em' href=`?page=${currentPage-1}&entries=${pageSize}&sorting=${sorting}`) Prev
                | Page #{currentPage} of #{totalPages}
                if currentPage < totalPages
                    a(style='margin: 0.5em' href=`?page=${currentPage+1}&entries=${pageSize}&sorting=${sorting}`) Next
        script.
            function selectPageSize(currentPage, sorting) {
                var value = document.getElementById('pageSizeSelector').value;
                window.location.href = `?page=${currentPage}&entries=${value}&sorting=${sorting}`;
            }
        div(class='clear')
      